target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.classpath
.project
.settings/
.vertx/
*.log
.idea/libraries/
.idea/workspace.xml
.idea/uiDesigner.xml
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/copyright/Verapi.xml
.idea/scopes/Generic_Scope.xml
.idea/dataSources/
.idea/
vpproject/abyss.vpp
